.header {
  margin-bottom: 2rem;
}

.header ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header ul li {
  margin-right: 1rem;
}

.link {
  text-decoration: none;
  color: #000;
  font-size: 1.2rem;
  background-color: #eee;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

:global(.active),
.link:hover {
  background-color: #ccc;
}
