body {
  margin: 2rem;
  font-family: "Arial", sans-serif;
}

img {
  max-width: 100%;
  border-radius: 0.5rem;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2 {
  font-size: 1.4rem;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
}

ul {
  list-style: none;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh);
  max-width: 40rem;
  margin: 0 auto;
}

.content {
  flex: 1;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.5s forwards;
}

@keyframes animeLeft {
  to {
    opacity: initial;
    transform: initial;
  }
}

.loading {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 5px solid #eee;
  border-right-color: transparent;
  animation: loading 1s infinite;
}

@keyframes loading {
  to {
    transform: rotate(360deg);
  }
}
